################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ConsoleApp2/obj/Debug/net5.0/ConsoleApp2.csprojAssemblyReference.cache
/.vs/slnx.sqlite
